* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  color: inherit;
  cursor: default;
}

nav {
  background-color: #08728f;
  background-color: #8767e5;
}
nav .row {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .row .title {
  color: #8767e5;
  color: #fff;
  font-size: 32px;
  padding: 8px 12px;
  transition: 0.3s all ease-in;
}
nav .row .title:hover {
  background-color: #f3f5f7;
}
nav .row .actions {
  display: flex;
  gap: 14px;
}
nav .row .actions img {
  width: 40px;
  padding: 8px;
  background: #F0EBFE;
  border-radius: 6px;
}
nav .row .actions img:hover {
  background: hsl(255, 71%, 75%);
}

section.hero {
  background-color: #f5f7f9;
  padding: 40px 0;
}
section.hero .container .row {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.hero .container .row .left .heading {
  font-size: 40px;
  font-weight: bold;
  color: hsl(255, 71%, 45%);
  margin-bottom: 30px;
}
section.hero .container .row .left button {
  font-size: 18px;
  padding: 18px 20px;
  color: #fff;
  background-color: hsl(255, 71%, 65%);
  border: none;
}
section.hero .container .row .left button:hover {
  background-color: hsl(255, 71%, 45%);
}
section.hero .container .row .right .pyramid {
  width: 400px;
  height: 300px;
  background-color: transparent;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.hero .container .row .right .pyramid .part {
  margin-top: 4px;
  width: 100%;
  transform: 0.2s all;
}
section.hero .container .row .right .pyramid .part:hover {
  background-color: lightgray !important;
}
@media screen and (max-width: 768px) {
  section.hero .container .row {
    flex-direction: column;
  }
}
section.second {
  padding: 100px 0;
  -webkit-clip-path: polygon(0 12vh, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 12vh, 100% 0, 100% 100%, 0 100%);
  background-color: #8767e5 !important;
  color: #fff;
  margin-top: -120px;
}
section.second .container .title {
  font-size: 35px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
section.second .container .skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 15px;
}
section.second .container .skills .skill {
  cursor: default;
  display: inline-block;
  padding: 8px 12px;
  background-color: hsl(255, 71%, 68%);
}
section.second .container .skills .skill:hover {
  background-color: hsl(255, 71%, 75%);
}

.grad {
  background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

footer {
  background-color: #151719;
  padding: 40px 0;
}
footer .container .up {
  text-align: center;
}
footer .container .up img {
  width: 48px;
  margin-bottom: 40px;
  transition: 0.2s ease-out;
}
footer .container .up img:hover {
  border-radius: 50%;
  background-color: blue;
  transform: translateY(-4px);
}
footer .container .social {
  display: flex;
  justify-content: center;
  gap: 30px;
}
footer .container .social img {
  width: 32px;
  transition: 0.2s all;
}
footer .container .social img:hover {
  transform: scale(1.1);
}
footer .container .social .twitter:hover {
  filter: invert(44%) sepia(94%) saturate(1518%) hue-rotate(161deg) brightness(94%) contrast(101%);
}
footer .container .social .instagram:hover {
  filter: invert(29%) sepia(63%) saturate(1163%) hue-rotate(285deg) brightness(100%) contrast(100%);
}
footer .container .social .linkedin:hover {
  filter: invert(44%) sepia(94%) saturate(1518%) hue-rotate(161deg) brightness(94%) contrast(101%);
}
footer .container .social .whatsapp:hover {
  filter: invert(72%) sepia(7%) saturate(3053%) hue-rotate(68deg) brightness(92%) contrast(89%);
}

section.contact {
  background: #262a37;
  color: #fff;
  padding: 40px 0;
}
section.contact .container .subheading {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
}
section.contact .container .mark-green {
  color: hsl(156, 78%, 44%);
}
section.contact .container .heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  letter-spacing: 1px;
}
section.contact .container form {
  max-width: 800px;
  margin: 0 auto;
}
section.contact .container form .group-1 {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 25px;
  margin-bottom: 15px;
}
section.contact .container form input,
section.contact .container form textarea {
  width: 100%;
  padding: 18px 12px;
  font-size: 18px;
  background: #1a2027;
  color: #979BA4;
  outline: none;
  border-radius: 4px;
  border: none;
  resize: none;
}
section.contact .container form .button-wrap {
  margin-top: 25px;
  text-align: center;
}
section.contact .container form .button-wrap button {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 20px 15px;
  background-color: hsl(156, 78%, 44%);
  color: #fff;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
section.contact .container form .button-wrap button:hover {
  background-color: #2EE59D;
  color: #fff;
  transform: translateY(-7px);
}

@media screen and (max-width: 768px) {
  section.second {
    margin-top: 0;
  }
  section.second .container .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style2.css.map */