* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

a {
  color: inherit;
  cursor: default;
}


nav {

  background-color: #08728f;
  // color: #fff;
  .row {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;

    .title {
      // -webkit-text-stroke: 1px #8767e5;
      color: #8767e5;
      color : #fff;
      font-size: 40px;
      padding: 8px 12px;
      transition: .3s all ease-in;

      &:hover {
        // -webkit-text-stroke: 0px teal;
        // cursor: pointer;
        background-color: #f3f5f7;
      }
    }

    .actions {
      display: flex;
      gap : 10px;
      img {
        width: 48px;
        padding: 12px;
        background: #F0EBFE;
      }

      img:hover {
        background: #8767e5;
        // filter: invert(1);
      }
    }
  }
}

.hero {
  background-color: #f5f7f9;
  .container {
    .row {
      height: 600px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        .heading {
          font-size: 40px;
          font-weight: bold;
          color: hsl(255, 71%, 45%);
          margin-bottom: 30px;
        }

        button {
          font-size: 18px;
          padding: 18px 20px;
          color: #fff;
          background-color: hsl(255, 71%, 65%);
          border: none;

          &:hover {
            background-color: hsl(255, 71%, 75%);
          }
        }
      }

      .right {
        .pyramid {
          width: 400px;
          height: 300px;
          background-color: transparent;
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
          display: flex;
          flex-direction: column;
          align-items: center;
          .part {
            margin-top: 4px  ;
            width: 100%;
            transform:  .2s all;
            &:hover {
              // width: 90%;
              background-color: lightgray !important;
            }
          }
          .active {
            // border : 1px solid black;
            // opacity: .5;
            // box-shadow : 0 4px 8px  #FD1C03
          }


        }
      }
    }
  }
}

section.second {}